*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #eaeaea;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    backdrop-filter: blur(5px);
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 500px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}
.container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}
.slide .item:nth-child(1),
.slide .item:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0,0);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.slide .item:nth-child(3) {
    left: 50%;
}
.slide .item:nth-child(4) {
    left: calc(50% + 220px);
}
.slide .item:nth-child(5) {
    left: calc(50% + 440px);
}
/* here n = 0,1,2,3 ....  */
.slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
}
.item .content {
    position: absolute;
    top: 50%;
    left: 50px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
    backdrop-filter: blur(20px);
}
.slide .item:nth-child(2) .content {
    display: block;
}
.content .name {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    animation: animate 1s ease-in-out forwards;
}
.content .des {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s forwards;
}
.content button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s forwards;
}
@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.button {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
}
.button button {
    width: 40px;
    height: 35px;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background-color: transparent;
}